@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import "dark.css";


*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    /*---------------light mode-----------------*/
    --header-footer:#219ebc;
    --aside:#f5f3f4;
    --opt1:#ac46a1;
    --opt2:#973aa8;
    --opt3: #822faf;
    /*----------------dark mode------------------*/
    --dark-header:#222831;
    --dark-aside:#393E46;
    --dark-back: #525252;
    --dark-buttom:#e6ae15; 
    --dark-opt1: #CA3E47;  
    --dark-opt2: #ba181b;  
    --dark-opt3: #a4161a;  
}


/*---------------------Header--------------------*/
header{
    background-color: var(--header-footer);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
header .logo{
    display: flex;
    align-items: center;
    }
header .logo img{
    padding-left: 40px;
    height: 90px;
    }
header .logo h1{
    color: whitesmoke;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3rem;
    }
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: white;   
    }
header nav ul{
    display: flex;
    list-style-type: none;     
    }
header nav ul li{
    margin-right:30px ;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    }
header nav ul #setting #list-time, header nav ul #new #list-mode {
    display: none;
    }
header nav ul #setting #list-time.show, header nav ul #new #list-mode.show { 
    display: block; 
    position: absolute;
    background-color: var(--dark-back);
    list-style-type: none;
    }
header nav ul #setting #list-time.show{ 
    padding: 5px;
    margin-top: 5px;
    margin-right: 150px; 
    right: 0;
    background-color: var(--aside);
    color: var(--dark-header);
    }
header nav ul #new #list-mode.show { 
    padding: 5px;
    margin-top: 5px;
    margin-right: 250px; 
    right: 0;
    background-color: var(--aside);
    color: var(--dark-header);
    }
header nav ul #setting #list-time li, header nav ul #new #list-mode li{
    padding:5px;
    }

header nav .fa-bars{
    display: none;
}    
header nav label{
    margin-right:30px ;
}   
header nav i{
    margin-right:30px;
    font-size: 2rem;
    cursor: pointer;
}



/*-------------------Main------------------*/
main{
    display: flex;
    height: 77vh;
    }
main .options{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--aside);
    }
main .options button{
    border-radius: 50%;
    height: 90px;
    width: 90px;
    padding: 10px;
    border: 3px solid rgb(114, 114, 114);
    cursor: pointer; 
    }
main .options .rock{
    background-color: var(--opt1);
    align-self: flex-end;
    margin-right: 20%;   
    }
main .options .paper{
    background-color: var(--opt2);
    align-self: flex-start;
    margin-left: 20%;
    }
main .options .scissors{
    background-color: var(--opt3);
    align-self: flex-end;
    margin-right: 20%;
    }
main .options .spock{
    background-color: var(--opt3);
    align-self: center;
    display: none;
    }
main .options .lizard{
    background-color: var(--opt1);
    align-self: center;
    display: none;
    }
main .options button:hover, main .options button:focus {
    box-shadow: 0 0 10px 4px var(--opt2);
    background-color: #ccc;
    height: 105px;
    width: 105px;      
    }
main .options .spock.show{
    display: block;
    }
main .options .lizard.show{
    display: block;
    }
main .options button img{
    width: 100%;
    }
main .play{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%; 
    }
main .play div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;   
    }
main .play div div{
    width: 40%;
    border-radius: 20px;
    background-color: var(--aside);
    border: 2px solid rgb(114, 114, 114);   
    box-shadow: -11px 13px 24px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -11px 13px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -11px 13px 24px 0px rgba(0,0,0,0.75);    
    }
main .play div div img{
    width: 100%;
    padding: 10px;
    }
main .play div .choice1 img[src*="img/lizard.png"]{
    transform: scaleX(1);
    }
main .play div .choice1 img, main .play div .choice2 img[src*="img/lizard.png"]{
        transform: scaleX(-1);
        }
main .play div div img[src*="img/boxing.png"].spin{
    animation: girar 0.9s infinite linear;
    }

    @keyframes girar{
        0%{
           transform: rotate(0deg);
        }
        20%{
           transform: rotate(72deg);
        }
        40%{
           transform: rotate(144deg);
        }
        60%{
           transform: rotate(216deg);
        }
        80%{
           transform: rotate(288deg);
        }
        100%{
           transform: rotate(360deg);
        }
    }


main .play div h3{
    padding: 10px;
    font-size: 4rem;
    color: var(--dark-aside);
    }
main .play .barra button{
    border: none;
    background-color: transparent;
    font-size: 4rem;
    color: var(--opt2);
    cursor: pointer; 
    }       
main .play .barra button#play::after {
    content: '';       
    border-radius: 100%;
    border: 2px solid var(--opt2);
    position: absolute;
    z-index: -1;
    top: 72%;
    left: 51%; 
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
    }
    @keyframes ring {
        0% {          
            width: 30px;
            height: 30px;
            opacity: 1;
            }
        100% {
            width: 150px;
            height: 150px;
            opacity: 0;
            }
        }
main .play .barra button:hover {
    font-size: 4.3rem;
}
main .play .barra button:hover::after, main .play .barra button:focus::after {
    animation: none;
    display: none;      
}        
main .play .barra button#play.hide{
    display: none;
}       



main .play .barra #timer{
    color: white;
    padding: 15px;
    background-color: var(--opt2);
    border-radius: 20px;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    width: 100px;
    box-shadow: none;
    }
main aside{
    background-color: var(--aside);
    width: 20%;
    }
main aside h2{
    background-color: var(--opt2);
    text-align: center;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    }
main aside .winner p{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    }


/*------------------------Rule-------------------*/
main .rule-back{
    display: none;
} 
main .rule-back.show{
    display: block;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
} 
main .rule{
    display: block; 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background-color: var(--dark-back);
    height: 77vh;
    width: 90vw;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
main .rule div img{
    height: 300px; 
    width: 300px;
    border-radius: 20%;
    margin: 10px;
    background-color: white;
}
main .rule i{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
}



/*--------------------Footer------------------*/
footer{
    background-color: var(--header-footer);
    height: 8vh;
    text-align: center;
    color:white;
    padding: 15px;
}


/*---------------------Switch Dark-ligth mode----------------------*/
/*The box around the moving wheel (slider)*/
nav .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
/*to hide the checkbox*/
nav .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
nav .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
nav .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
input:checked + .slider { 
    background-color: var(--dark-buttom); 
  }  
input:checked + .slider:before {
    transform: translateX(26px);
  }


/*---------------------MEDIA QUERY--------------------------*/
    
@media (max-width: 850px) and (orientation:landscape) {
    main aside .winner p{
        padding: 7px;
    }
    header .logo img{
        height: 57px;
    }
    main .rule div img{
        height: 200px; 
        width: 200px;
    }
    main .options button#option{
        height: 60px; 
        width: 60px;
    }
}

@media (max-width: 680px) and (orientation:landscape) {
    header .logo img{
        height: 60px;
    }
    header .logo h1{
        font-size: 2rem;
        }
    header nav ul li{
        margin-right:20px ;
    }
    main .options button{
        height: 80px;
        width: 80px;
        }
    main aside .winner p{
        padding: 6px;
    }
    footer{
        padding: 6px;
    }
    main .rule div img{
        height: 150px; 
        width: 150px;
    }
    main .options button#option{
        height: 55px; 
        width: 55px;
    }
}

@media (max-width: 570px) and (orientation:landscape) {
    main aside .winner p{
        padding: 3px;
    }
    main .options button#option{
        height: 50px; 
        width: 50px;
    }
}

@media (max-width: 630px) and (orientation:portrait) {
    main .rule{
        flex-direction: column;
    }
    main .rule div img{
        height: 150px; 
        width: 150px;
    }
}

@media (max-width: 460px) and (orientation:portrait) {
    header .logo h1{
        font-size: 2.5rem;
    }
    header .logo img{
        padding-left: 10px;
    }
    header nav ul{
        display: none;
    }
    header nav label, header nav i{                
        margin-right:10px ;
    }                
    header nav .fa-bars{
        display: block;
    }
    header nav ul.show{
        display: block;
        position: absolute;
        padding: 10px;
        margin-top: 120px;
        margin-right: 50px; 
        right: 0;
        background-color: var(--aside);
        color: var(--dark-header);
    }
    .dark header nav ul.show{
        background-color: var(--dark-aside);
        color: var(--aside);
    }
    header nav ul #setting #list.show { 
        padding: 3px;
        margin-right: 3px; 
        background-color: var(--dark-back); 
        list-style-type: none;
        color: var(--aside);         
    }

    .dark header nav ul #setting #list.show { 
        background-color: var(--aside);
        color: var(--dark-header);        
    }

    header nav ul #setting #list li{
        font-size: 0.8rem;
        margin: 0;                
    }
    main .rule1.show{
        width: 100vw;
    }
    main{
        flex-direction: column;
    }
    main .options{
        flex-direction: row;
        width: 100%;
        height: 20vh;
    }
    main .options button{
        height: 80px;
        width: 80px;
    }
    main .options .rock , main .options .paper , main .options .scissors{
        margin: 10px;
        align-self: center;
    }
    main .play{
        width: 100%;
        height: 40vh;
    }
    main aside{
        width: 100%;
    }
    main aside h2{
        padding: 8px;
        }
    main aside .winner p{
        display: inline-block;
        width: 33.3%;
        padding: 4px;
        }
    main .play .barra button#play::after {
        top: 66%;
        left: 48%;
    }

}